p{
    font-size: 20px;
}

#nav_bar{
    background-color: black;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
}

#merlin{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#skadi{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#fox{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#waver{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#chen_gong{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#castoria{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#shishou {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#musashi{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#snek{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#jean {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


